<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fortunaIV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D67FE881DA24F0E00E51723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D67FE991DA24F0F00E51723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D67FEA41DA24F0F00E51723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
